.sidebar {
  width: 80px;
  min-height: 100vh;
}
.sidebar .nav-link {
  color: #000;
  transition: 0.2s;
}
.sidebar .nav-link.active {
  background-color: #e2e6ea;
  border-radius: 8px;
}
.sidebar-mobile {
  z-index: 1050; 
}
@media (min-width: 992px) {
  .sidebar {
    width: 220px;
  }
}
